.info-div{

    background-color: whitesmoke;
    margin-top:3vh;
    margin-bottom:3vh;
    margin-left: 10vw;  
    margin-right: 10vw;
    padding: 5vh 5vw 5vh 5vw;
    border:2px solid slategray;
    border-radius: 0.6em;
}

.div-history{

    border: 2px gray solid;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;

    -webkit-box-shadow: 2px 5px 29px 9px rgba(71,71,71,0.5); 
    box-shadow: 2px 5px 29px 9px rgba(71,71,71,0.5);

}

.endofline{
    border-bottom: 2px solid black;
}


.linkitemiii{
    color: black;
}

.linkitemiii:hover{
    color: black;
}

.nncontainer{
    display:flex;
    justify-content: center;
    align-items: center;
     }
  
  .nnleft{
    
    width:33.33%;
  }
  
  .nncenter{
  
     width:33.33%;
  }
  
  .nnright{
  
     width:33.33%;
  }

.nnnright{
    float: right;
}