body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.he1{  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;}
.he{
  color: whitesmoke;

}
.he:hover{
  background-color: whitesmoke;
  color: #212529;
  border-radius: 0.6em;
  
}
.banner-css{
  width: 100%;
  height: 23%;
  
}

@media only screen and (max-width:900px) {
  .banner-css{
      width: 100%;
      height: 100px;
  }

}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  z-index: 3;
}
body{
    color: black;
    background-color: wheat;
}
.dropdown{
  color: whitesmoke;
  background-color: slategrey;
  border-radius: 0.8em;
}
.ce{
  background-color: #212529;
}

.head{
  background: black;
  overflow: hidden;
}
@keyframes out{
  from{opacity: 1;}
  to{opacity: 0.5;}
}
@keyframes in{
  from{opacity: 0.5;}
  to{opacity: 1;}
}

.pic{
  opacity: 1;
  animation: in;
  animation-duration: 2s;
}
.pic1{
  opacity: 0.5;
  animation: out  ;
  animation-duration: 2s;
}
.link1{
  color:  whitesmoke;;
  text-decoration: none;
}
.link1:hover{
  color:  whitesmoke;;
  text-decoration: none;
}
.l1{
  list-style: none;
}

.link2{

  text-decoration: none;
}
.link2:hover{

  text-decoration: none;
}
.l2{
  list-style: none;
}

.div-foot{

  padding-top: 20px;

}

.div-pro-1{
  border: 2px solid slategray;
  border-radius: 0.6em;
  background-color: whitesmoke;
}
.span-pro{
  font-weight: bold;
  font-size: 18px;
}
.pic-pro{
  height: 180px;
  width: 180px;
}
.home-text-1{
  font-weight: bold;
  font-size: 30px;
}
.div-pro-2{
  border: 2px solid slategray;
}
.home-text-2{
  font-weight: bold;
  font-size: 25px;
}
.div-pro-3{
  background-color: slategray;
}